body {
    background-color: #585858;
}

h1 {
    border: 2px solid green;
}

.test {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: flex;
}

.test a {
    display: block;
    border: 2px solid green;
}

.test h1 {
    display: inline-block;
    border: 2px solid yellow;
}